%h1 Listing tweets

%table
  %tr
    %th Message
    %th User
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.message
      %td= tweet.user.name
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tweet', new_tweet_path
